v1/src/main/java/org/jgame/io/GameSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="game">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="board">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="type"/>
                                <xs:attribute type="xs:string" name="size"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="deck"/>
                <xs:element name="pieces">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="piece" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:string" name="id" use="optional"/>
                                            <xs:attribute type="xs:string" name="position" use="optional"/>
                                            <xs:attribute type="xs:byte" name="quantity" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="rules">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="rule">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="identifier"/>
                                            <xs:attribute type="xs:string" name="name"/>
                                            <xs:attribute type="xs:string" name="description"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
            <xs:attribute type="xs:string" name="description"/>
            <xs:attribute type="xs:float" name="version"/>
        </xs:complexType>
    </xs:element>
</xs:schema>